$body-color: #222;
$text-color: #ffffff;

body {
    background-color: $body-color;
    color: $text-color;
}

.wrapper{
    width: 90%;
    max-width: 1140px;
    min-height: 100vh;
    margin: 0 auto;
}